@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  width: 4px; 
  border-radius: 50px;
}

*::-webkit-scrollbar-track {
  background: #36d7b7; 
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background: #b81313; 
 
}

*::-webkit-scrollbar-thumb:hover {
  background: #940606; 

}


* {
  scrollbar-width: thin; 
  scrollbar-color: #36d7b7 #f0f0f0;

  
}


body {
  font-family: 'Source Sans Pro', sans-serif;
}
